<h1>Tomedo-Statistik</h1>

<%= form_tag statistics_path, method: :get do %>
  <%= label_tag :start, 'Start:' %>
  <%= text_field_tag :start, l(@start) %>
  <%= label_tag :stop, 'Ende:' %>
  <%= text_field_tag :stop, l(@stop) %>
  <%= submit_tag 'Aktualisieren', name: nil %>
<% end %>

<h2>Anzahl der Termine je Untersuchung</h2>

<%= content_tag :div, '', id: 'appointment_count_by_study', data: {appointment_count_by_study: @appointment_count_by_study} %>

<script>
  new Morris.Bar({
    // ID of the element in which to draw the chart.
    element: 'appointment_count_by_study',
    data: $('#appointment_count_by_study').data('appointment-count-by-study'),

    // The name of the data record attribute that contains x-values.
    xkey: 'bezeichnung',

    // A list of names of data record attributes that contain y-values.
    ykeys: ['anzahl_termine'],
    xLabelAngle: 45,

    // Labels for the ykeys -- will be displayed when you hover over the
    // chart.
    labels: ['Termine']
  });
</script>

<h2>Durchschnittliche Terminwartezeit je Untersuchung</h2>

<%= content_tag :div, '', id: 'appointment_average_waiting_periods', data: {appointment_average_waiting_periods: @appointment_average_waiting_periods} %>

<script>
  new Morris.Bar({
    // ID of the element in which to draw the chart.
    element: 'appointment_average_waiting_periods',
    data: $('#appointment_average_waiting_periods').data('appointment-average-waiting-periods'),

    // The name of the data record attribute that contains x-values.
    xkey: 'bezeichnung',

    // A list of names of data record attributes that contain y-values.
    ykeys: ['durchschnittliche_wartezeit'],
    xLabelAngle: 45,

    // Labels for the ykeys -- will be displayed when you hover over the
    // chart.
    labels: ['Tage']
  });
</script>

<h2>Aufteilung wahrgenommener Termine</h2>

<%= content_tag :div, '', id: 'appointment_appeared_patients_percent', data: {appointment_appeared_patients_percent: @appointment_appeared_patients_percent} %>

<script>
  //new Morris.Bar({
  new Morris.Donut({
    // ID of the element in which to draw the chart.
    element: 'appointment_appeared_patients_percent',
    data: $('#appointment_appeared_patients_percent').data('appointment-appeared-patients-percent'),
    formatter: function (y, data) { return y + '%' }
  });
</script>

<h2>Durchschnittliche Besuchswartezeit je Untersuchung</h2>

<%= content_tag :div, '', id: 'todo_average_waiting_times', data: {todo_average_waiting_times: @todo_average_waiting_times} %>

<script>
  new Morris.Bar({
    // ID of the element in which to draw the chart.
    element: 'todo_average_waiting_times',
    data: $('#todo_average_waiting_times').data('todo-average-waiting-times'),

    // The name of the data record attribute that contains x-values.
    xkey: 'bezeichnung',

    // A list of names of data record attributes that contain y-values.
    ykeys: ['durchschnittliche_wartezeit'],
    xLabelAngle: 45,

    // Labels for the ykeys -- will be displayed when you hover over the
    // chart.
    labels: ['Minuten']
  });
</script>

<h2>Durchschnittliche Befundlaufzeit je Arzt</h2>

<%= content_tag :div, '', id: 'visit_average_duration', data: {visit_average_duration: @visit_average_duration} %>

<script>
  new Morris.Bar({
    // ID of the element in which to draw the chart.
    element: 'visit_average_duration',
    data: $('#visit_average_duration').data('visit-average-duration'),

    // The name of the data record attribute that contains x-values.
    xkey: 'kuerzel',

    // A list of names of data record attributes that contain y-values.
    ykeys: ['durchschnittliche_besuchsdauer'],
    xLabelAngle: 45,

    // Labels for the ykeys -- will be displayed when you hover over the
    // chart.
    labels: ['Stunden']
  });
</script>

<h2>Aufteilung je Versicherungsart</h2>

<%= content_tag :div, '', id: 'patientdetails_insurance_type_percent', data: {patientdetails_insurance_type_percent: @patientdetails_insurance_type_percent} %>

<script>
  //new Morris.Bar({
  new Morris.Donut({
    // ID of the element in which to draw the chart.
    element: 'patientdetails_insurance_type_percent',
    data: $('#patientdetails_insurance_type_percent').data('patientdetails-insurance-type-percent'),
    formatter: function (y, data) { return y + '%' }
  });
</script>
