<h1>Tomedo-Statistik</h1>

<%= form_tag statistics_path, method: :get do %>
  <%= label_tag :start, 'Start:' %>
  <%= date_field_tag :start, l(@start) %>
  <%= label_tag :stop, 'Ende:' %>
  <%= date_field_tag :stop, l(@stop) %>
  <%= submit_tag 'Aktualisieren', name: nil %>
<% end %>

<h2>Anzahl der Termine je Terminart</h2>

<%= content_tag :div, '', id: 'appointments', data: {appointments: @appointments} %>

<script>
  new Morris.Bar({
    // ID of the element in which to draw the chart.
    element: 'appointments',
    data: $('#appointments').data('appointments'),

    // The name of the data record attribute that contains x-values.
    xkey: 'bezeichnung',

    // A list of names of data record attributes that contain y-values.
    ykeys: ['anzahl_termine'],
    xLabelAngle: 45,

    // Labels for the ykeys -- will be displayed when you hover over the
    // chart.
    labels: ['Anzahl Termine']
  });
</script>

<h2>Durchschnittliche Terminwartezeit je Terminart</h2>

<%= content_tag :div, '', id: 'appointment_average_waiting_periods', data: {appointment_average_waiting_periods: @appointment_average_waiting_periods} %>

<script>
  new Morris.Bar({
    // ID of the element in which to draw the chart.
    element: 'appointment_average_waiting_periods',
    data: $('#appointment_average_waiting_periods').data('appointment-average-waiting-periods'),

    // The name of the data record attribute that contains x-values.
    xkey: 'bezeichnung',

    // A list of names of data record attributes that contain y-values.
    ykeys: ['durchschnittliche_wartezeit'],
    xLabelAngle: 45,

    // Labels for the ykeys -- will be displayed when you hover over the
    // chart.
    labels: ['Tage']
  });
</script>

<h2>Anteil wahrgenommener Termine</h2>

<%= content_tag :div, '', id: 'appointment_appeared_patients', data: {appointment_appeared_patients: @appointment_appeared_patients} %>

<script>
  //new Morris.Bar({
  new Morris.Donut({
    // ID of the element in which to draw the chart.
    element: 'appointment_appeared_patients',
    data: $('#appointment_appeared_patients').data('appointment-appeared-patients'),
  });
</script>

<h2>Durchschnittliche Besuchswartezeit je Untersuchung</h2>

<%= content_tag :div, '', id: 'todo_average_waiting_times', data: {todo_average_waiting_times: @todo_average_waiting_times} %>

<script>
  new Morris.Bar({
    // ID of the element in which to draw the chart.
    element: 'todo_average_waiting_times',
    data: $('#todo_average_waiting_times').data('todo-average-waiting-times'),

    // The name of the data record attribute that contains x-values.
    xkey: 'bezeichnung',

    // A list of names of data record attributes that contain y-values.
    ykeys: ['durchschnittliche_wartezeit'],
    xLabelAngle: 45,

    // Labels for the ykeys -- will be displayed when you hover over the
    // chart.
    labels: ['Minuten']
  });
</script>

<h2>Durchschnittliche Befundlaufzeit je Arzt</h2>

<%= content_tag :div, '', id: 'visits', data: {visits: @visits} %>

<script>
  new Morris.Bar({
    // ID of the element in which to draw the chart.
    element: 'visits',
    data: $('#visits').data('visits'),

    // The name of the data record attribute that contains x-values.
    xkey: 'kuerzel',

    // A list of names of data record attributes that contain y-values.
    ykeys: ['durchschnittliche_besuchsdauer'],
    xLabelAngle: 45,

    // Labels for the ykeys -- will be displayed when you hover over the
    // chart.
    labels: ['Stunden']
  });
</script>

<h2>Anteil privatversicherter Patienten</h2>

<%= content_tag :div, '', id: 'patientdetails', data: {patientdetails: @patientdetails} %>

<script>
  //new Morris.Bar({
  new Morris.Donut({
    // ID of the element in which to draw the chart.
    element: 'patientdetails',
    data: $('#patientdetails').data('patientdetails'),
  });
</script>
